@import url('./reset.css');
 
 :root {
    --body-bg-color: #202224;
    --body-color: #e8e9e0;
    --box-bg-color: #7798b9bd;
    --play-button-bg-color: #3ac860;
    --play-button-color: #e8e9e0;
    --timer-bg-color: #455d76cd;
    --word-bg-color: #6d6e6f;
  }
  
  body {
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    color: var(--body-color);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .box {
    background-color: var(--box-bg-color);
    border-radius: 30px;
    height: 60vh;
    width: 60vh;
    display: none;
    padding: 25%;
  }
  
  .center {
    display: grid;
    place-content: center;
    height: 100vh;
  }
  
  .container {
    margin-inline: auto;
    width: min(100% - 30px, 1080px);
  }
  
  .grid {
    display: grid;
    text-align: center;
    place-content: center;
  }

  .grid h1{
    font-size: 60px;
    font-weight: 800;
  }

  .grid p{
    font-size: 25px;
    font-weight: 400;
  }
  
  .input {
    border-radius: 25px;
    display: none;
    font-size: 20px;
    height: 40px;
    width: 200px;
    text-align: center;
  }
  
  .input.right {
    border: 3px solid rgb(11, 246, 11);
  }
  
  .input.wrong {
    border: 3px solid #f00;
  }
  
  .play-button {
    background-color: #0f8dc3aa;
    border-radius: 30px;
    color: #f6efef;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    padding: 10px 25px;
    transition: 1s ease;
  }

  .play-button:hover{
    background-color: #0ed7d47d;
    color: #fff;
  }
  
  .play-again-button {
    background-color: #0f8dc3aa;
    border-radius: 30px;
    color: #f6efef;
    display: none;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 500;
    left: 50%;
    padding: 10px 25px;
    position: fixed;
    top: 80%;
    transform: translate(-50%, -50%);
  }
  
  .play-again-button:hover{
    background-color: #0ed7d47d;
    color: #fff;
  }

  .score {
    background-color: var(--box-bg-color);
    border-radius: 50px;
    display: none;
    font-size: 22px;
    padding-top: 55px;
    height: 60vh;
    width: 60vh;
    line-height: 300px;
    position: fixed;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  .timer {
    background-color: var(--timer-bg-color);
    border-radius: 25px;
    font-size: 20px;
    inset: 45px 45px auto auto;
    padding: 10px 15px;
    position: fixed;
  }
  
  .word {
    background-color: var(--word-bg-color);
    border-radius: 30px;
    display: none;
    font-size: 30px;
    letter-spacing: 2.5px;
    margin-bottom: 30px;
    padding: 5px 15px;
    text-shadow: 0px 0px 2px #000;
  }